{{#if showActions}}
    <td><a href="/{{route}}/{{user_id}}">Actualizar</a></td>
    <td><a href="" onclick="confirmVolunteerDelete({{user_id}})">Eliminar</a></td>
{{else}}
    <td></td>
    <td></td>
{{/if}}