{{#if flashMessage.show}}
<div class="warning-message">
    <p>{{flashMessage.msg}}</p>
</div>
{{/if}}
{{#if flashMessage1.show}}
<div class="warning-message">
    <p>{{flashMessage1.msg}}</p>
</div>
{{/if}}
{{#if flashMessage2.show}}
<div class="warning-message">
    <p>{{flashMessage2.msg}}</p>
</div>
{{/if}}