{{#each adoptions}}
<tr>
    <td>
        {{adoption_id}}
    </td>
    <td>
        {{adopter}}
    </td>
    <td>
        {{animal}}
    </td>
    <td>
        {{adoptionDate}}
    </td>

    {{> actionsAdoptions}}
    
</tr>
{{/each}}