<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Quinta do Mião</title>
    <meta name="description" content="{{description}}">
</head>

<body>
    <div style="text-align: center; margin: 20em 0">
        <h1>404</h1>
        <h1>Page not found \ Página não encontrada</h1>
        <p><a href="/">Return \ Voltar?</a></p>
    </div>
</body>