<div class="tooltips">
        <img src="./images/help.jpg" width="25" height="25" alt="Ajuda" />
        <span class="tooltiptext">Bem vindo ao SI - Quinta do Mi&atilde;o! Realize registo e/ou autentica&ccedil;&atilde;o atrav&eacute;s dos bot&atilde;o que se encontram no canto superior direito da p&aacute;gina.</span>
    </div>
<div class="container">
    <div class="carousel">
        <input type="radio" id="carousel-1" name="carousel[]" checked>
        <input type="radio" id="carousel-2" name="carousel[]">
        <input type="radio" id="carousel-3" name="carousel[]">
        <input type="radio" id="carousel-4" name="carousel[]">
        <input type="radio" id="carousel-5" name="carousel[]">
        <ul class="carousel__items">
            <li class="carousel__item">
                <img alt="Voluntariado" src="./images/voluteering.PNG">
            </li>
            <li class="carousel__item">
                <img alt="Adote ou Apadrinhe" src="./images/catAndDog.jpg">
            </li>
            <li class="carousel__item">
                <img alt="Sobre Nós" src="./images/about.png">
            </li>
        </ul>
        <div class="carousel__prev">
            <label for="carousel-1"></label>
            <label for="carousel-2"></label>
            <label for="carousel-3"></label>
        </div>
        <div class="carousel__next">
            <label for="carousel-1"></label>
            <label for="carousel-2"></label>
            <label for="carousel-3"></label>
        </div>
        <div class="carousel__nav">
            <label for="carousel-1"></label>
            <label for="carousel-2"></label>
            <label for="carousel-3"></label>
        </div>
    </div>
</div>