<div class="tooltips">
        <img src="./images/help.jpg" with="25" height="25" alt="Ajuda" />
        <span class="tooltiptext">Nesta p&aacute;gina poder&aacute; consultar e atualizar os dados da adopção registados no SI.</span>
    </div>
<div id="register">
    <h1>Actualizar adopção</h1>
    <form id="registerForm" onsubmit="updateAdoption({{adoption.adoption_id}}); return false" method="post">
        <div class="form-group">
            <label>Adoptante</label>
            <input id="adopter" class="input-form" type="text" name="userName" value="{{adoption.adopter}}" required />
            <span class="highlight"></span>
            <span class="bar"></span>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Animal</label>
            <input id="animal" class="input-form" type="text" name="animal" value="{{adoption.animal}}" required />
            <span class="highlight"></span>
            <span class="bar"></span>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Data de Adopção</label>
            <input id="adoptionDate" class="input-form" type="date" name="adoptionDate" value="{{adoption.adoptionDate}}" required />
            <span class="highlight"></span>
            <span class="bar"></span>
            <span class="text-danger"></span>
        </div>
        <div id="submit" class="form-group">
            <button type="submit" class="confirmationButton">Actualizar</button>
        </div>
    </form>
</div>